<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
</head>
<body>
    <div class="return-home-bar">
        <a href="/">PetFax</a>
    </div>
    <div class="form-container">
        <form action="/facts" method="POST">
            <label>Name</label>
            <input type="text" id="submitter" name="submitter" required />
            <label>Fact(s)</label>
            <input type="text" id="fact" name="fact" required/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
</body>
</html>